.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #ced4da !important;
    border-radius: 4px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 0px !important;
    padding-right: 0px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #495057 !important;
    line-height: 20px !important;
    font-size: .875rem;
}

.required-input {
    color: #495057;
    background-color: #fff;
    border-color: rgba(225,0,0,.2);
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(225,0,0,.2);
}
.invalide-input {
    color: #495057;
    background-color: #fff;
    border-color: rgba(225,0,0,.2);
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(225,0,0,.2);
}

label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 400 !important;
}
