.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #ced4da !important;
    border-radius: 4px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 0px !important;
    padding-right: 0px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #495057 !important;
    line-height: 20px !important;
    font-size: .875rem;
}

.required-input {
    color: #495057;
    background-color: #fff;
    border-color: rgba(225,0,0,.2);
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(225,0,0,.2);
}
.invalide-input {
    color: #495057;
    background-color: #fff;
    border-color: rgba(225,0,0,.2);
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(225,0,0,.2);
}
.chk-lbl {
    font-weight: 400 !important;
    font-size : 16px;
}

.more_info{
  cursor: pointer;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #007bff !important;
    border: 1px solid #006fe6 !important;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #80bdff 1px !important;
    outline: 0;
}


.select-lg .select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 39px;
    user-select: none;
    -webkit-user-select: none;
}
.select-lg .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #495057 !important;
    line-height: 30px !important;
    font-size: 1rem;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    display: block;
    margin: 2px 0;
    padding: 4px;
    width: 16rem !important;
}

.select-sm .select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: calc(1.8125rem + 2px);
    user-select: none;
    -webkit-user-select: none;
}
.select-sm .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #495057 !important;
    line-height: 1.5 !important;
    font-size: .875rem;
}
